*{
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}

body{
    background-color: #000000;
    color: #fff;
    
}

nav
{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul{
    align-items: center;
}

nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
} 

nav ul li h1{
    font-size:30px;

}

nav ul li a{
    color: #fff;
}

nav ul li button
{
    padding:10px 20px;
    border-radius: 50px;
    font-size: medium;
}

.test
{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.test li{
    padding: 0 5px ;
    /* margin-right: 2%; */
}

.nav-account-button
{
    background-color: #efff30ff;
    
}

fieldset
{
    border: 0;
    height: 450px;
}

main{
    /* background-color: aqua; */
    float: left;
    width: 47%;
    margin:0 60px;
    padding: 20px;
    margin-left: 72px;
}

main h1{
    font-size: 55px;
}

#leaf-icon{
    color: aquamarine;
}

.main-heading-highlight{
    background-color: #efff30ff;
    color: #000000;
    padding: 5px 15px;
}

main h1 span{
    font-family: 'Tilt Neon', cursive;
    font-size: 60px;
}

main ul li
{
    list-style: none;

}

main ul p{
    margin: 45px 0px;
}

.main-footer{
    display: flex;
    align-items: center;
}

.main-footer li
{
    display: inline-block;
    padding: 0 10px;
}

.main-footer li button
{
    padding: 10px 17px;
    font-size:15px;
    /* font-weight: bold; */
    border-radius: 50px;
    background-color: black;
    border: 1px solid #fff;
    color: white;
}

.main-startNow-button
{
    color: #771717;
    background-color: #efff30ff;
    margin-left: -8px;
}

main ul li img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 35px;
    border: 2px solid #000000;
    /* background-color: #fff; */
}

.main-footer-img1
{
    position: relative;
    left: 70px;
    z-index: -1;
}

/* .main-footer-img2
{

} */

.main-footer-img3 
{
    position: relative;
    left: -70px;
    z-index: 1; 
}

aside
{
    float: right;
    width: 36%;
    margin: 0px 50px;
    height: 500px;
    /* background-color:antiquewhite; */
}

aside ul
{
    /* background-color: red; */
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}

.aside-first-row
{
    justify-content: space-between;
}

aside ul li img
{
    width: 55%;
    /* flex: inline-block; */
}

.aside-image-icons li img
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit:cover;
}

.aside-image-icons li label
{
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 100px;
    padding: 20px 20px;
    background-color: aqua;
}

section
{
    width: 100%;
    height: 250px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

section div
{
    margin: 0 5px;
    height: 90px;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section div ul{
    list-style: none;
    display: inline-block;
    align-items: center;
}

section div ul span
{
    font-size: 18px;
    margin: 15px;
    padding: 10px 15px;
    background-color: white;
    color:black ;
    border-radius: 50px;
    border: 2px solid black;
}

section div ul li h3
{
    font-size:20px ;
}

section div ul li
{
    line-height: 30px;
}

.ChooseCrop
{
    width: 460px;
    background-color: rgb(233,255,178);
    color: black;
}

.SetUpSystem
{
    width: 449px;
    background-color: rgb(226,254,100);
    color: black;
}

.MonitorCrops
{
    width: 350px;
    background-color: rgb(255,255,255);
    color: black;
}

.section-decoration-left
{
   /* background-color: white;
   padding: 7px;
   border-radius: 20px;
   border: 1px solid white; */
}

.section-decoration-left i{
    position: relative;
    font-size: 28px;
    color:black;
    background-color: white;
    border-radius: 52px;
    right: 833px;
    /* bottom: 0px; */
    
}

.section-decoration-right i
{
    position: relative;
    font-size: 28px;
    color:black;
    background-color: white;
    border-radius: 52px;
    right: 402px;
}


footer
{
    list-style: none;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    background-color: #fff;
}

footer ul li
{
    display: inline-block;
}


footer button
{
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid black;
}

.footer-button-FarmStartsAt
{
    color: white;
    background-color: #000000;
    font-size: 15px;
    padding:18px 15px;
    margin-left: 0.5%;
}

.footer-button-FarmStartsAt-span
{
    color: #000000;
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
}

footer img
{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black ;
    overflow: hidden;
}
.footer-leaf-image
{
    margin-left: -3.15%;
}

.footer-content
{
    font-family: 'Tilt Neon', cursive;
    font-size: 25px;
    width: 500px;
}

.footer-button-DonotWait
{
    background-color: rgb(255, 255, 124);
    padding: 10px 15px;
    position: relative;
    left: 20%;
    z-index: 0;
}

.footer-button-JoinUs
{
    background-color: rgb(167, 121, 209);
    padding: 10px 15px;
    position: relative;
    z-index: 1;
}

.footer-button-ActNow
{
    position: relative;
    padding: 10px 15px;
    z-index: 2;
    left:-20%;
    background-color: blanchedalmond;
}

.footer-button-ContactTeam
{
    background-color: #fff;
}

.footer-team-icon-1
{
    position:relative;
    z-index: 2;
    /* right: 20px; */
    
}

.footer-team-icon-2
{
    position:relative;
    z-index: 1;
    right:20% ;
}

.footer-team-icon-3{
    position: relative;
    z-index: 0;
    /* left: -90px; */
    right: 40%;
}